@font-face {
    font-family: "Exo2";
    src: url("/resources/fonts/exo2.ttf") format("truetype");
    font-style: normal;
    font-weight: 350;
}

@font-face {
    font-family: "Nova";
    src: url("/resources/fonts/nova.ttf") format("truetype");
    font-style: normal;
    font-weight: 350;
}

:root {
    --background: #0E303D;

    --text-color: #FFFFFF;
    --link-color: #99CCFF;
    --important-color: #EEFF88;

    --element-background: #081D25;
    --element-text-color: #FFFFFF;

    --disabled-element-background: #0B2631;
    --disabled-element-text-color: #777777;

    --input-placeholder-color: #6B7777;

    --status-ok-color: #44CC44;
    --status-error-color: #CC4444;

    --font-size: 18px;

}

html, body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;

    font: var(--font-size) Exo2, sans-serif;
    background-color: var(--background);
    color: var(--text-color);
    overflow: hidden auto;
}

div#app {
}

div.wrapper {
    min-width: 340px;
}

div.flex {
    display: flex;
    flex-direction: column;
}

div.row-flex {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

div.flex.centered {
    align-items: center;
    justify-content: center;
}

div.row-flex.centered {
    align-items: center;
    justify-content: center;
}

div.flex.spaced {
    row-gap: 20px;
}

div.central {
    position: absolute;
    left: 50vw;
    top: calc(50vh + 50px);
    transform: translate(-50%, -50%);
}

div.top-central {
    position: absolute;
    left: 50vw;
    top: 0;
    transform: translate(-50%, 0);
}

div.fullscreen-container {
    background-color: #00000088;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

div.dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    min-width: 300px;
    max-width: 600px;
    min-height: 200px;
    padding: 20px;
    justify-content: space-around;
    background-color: var(--background);
    max-height: 90vh;
    overflow: hidden auto;
}

.relative {
    position: relative;
}

.limited {
    max-width : 600px;
}

.opaque {
    background-color: var(--background);
}

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.spacy-below {
    margin-bottom: 20px;
}

.large {
    font-size: x-large;
}

.font-high {
    height: var(--font-size);
}

.nowrap {
    white-space: nowrap;
}

.important {
    color: var(--important-color);
}

button, input {
    font: var(--font-size) Exo2, sans-serif;
    background-color: var(--element-background);
    color: var(--element-text-color);
    border: 0;
    padding: 5px 10px 8px;
    border-radius: 30px;
}

input::placeholder {
    color: var(--input-placeholder-color);
}

a {
    color: var(--link-color);
    cursor: pointer;
}

button, input[type='submit'] {
    cursor: pointer;
}

button.large input.large {
    padding: 9px 14px 12px;
}

button:disabled, input:disabled {
    background-color: var(--disabled-element-background);
    color: var(--disabled-element-text-color);
    cursor: default;
}

.debug {
    color: var(--text-color);
    position: absolute;
    opacity: 0.2    ;
    font-size: 20px;
    pointer-events: none;
    z-index: 100;
}

.debug.bottom {
    bottom: 0;
}

.debug.left {
    left: -200px;
}
