@font-face {
    font-family: "Exo2";
    src: url("/resources/fonts/exo2.ttf") format("truetype");
    font-style: normal;
    font-weight: 350;
}

@font-face {
    font-family: "Nova";
    src: url("/resources/fonts/nova.ttf") format("truetype");
    font-style: normal;
    font-weight: 350;
}

:root {
    --background : #CCEEFF;
    --text-color : #000000;
    --link-color : #003366;

    /*--login-background : url("../resources/login_bg_wip.jpg");*/

    --element-background : #00000066;
    --element-text-color : #FFFFFF;
    --disabled-element-background : #00000033;
    --disabled-element-text-color : #777777;
    --input-placeholder-color : #FFFFFF99;

    --status-ok-color: #008800;
    --status-error-color: #880000;

    --font-size : 18px;

}

@media (prefers-color-scheme: dark) {
    :root {
        --background : #0E303D;
        /*--login-background : url("../resources/login_bg.jpg");*/

        --text-color : #FFFFFF;
        --link-color : #99CCFF;
        --element-background : #00000066;
        --element-text-color : #FFFFFF;

        --disabled-element-background : #00000033;
        --disabled-element-text-color : #777777;
        --input-placeholder-color : #FFFFFF99;

        --status-ok-color: #44CC44;
        --status-error-color: #CC4444;
    }
}

html, body {
    padding : 0;
    margin : 0;
    width : 100vw;
    height : 100vh;

    font: var(--font-size) Exo2, sans-serif;
    background-color : var(--background);
    color : var(--text-color);
    overflow : hidden auto;
}

div#app {
}

div.wrapper {
    min-width: 340px;
}

div.flex {
    display : flex;
    flex-direction: column;
}

div.row-flex {
    display : flex;
    flex-direction: row;
    column-gap: 10px;
}

div.flex.centered {
    align-items: center;
}

div.flex.spaced {
    row-gap : 20px;
}

div.central {
    position: absolute;
    left: 50vw;
    top: calc(50vh + 50px);
    transform: translate(-50%, -50%);
}

div.top-central {
    position: absolute;
    left: 50vw;
    top: 0;
    transform: translate(-50%, 0);
}

.opaque {
    background-color: var(--background);
}

.center-text {
    text-align: center;
}

.spacy-below {
    margin-bottom: 20px;
}

.large {
    font-size : x-large;
}

.font-high {
    height : var(--font-size);
}

button, input {
    font: var(--font-size) Exo2, sans-serif;
    background-color: var(--element-background);
    color: var(--element-text-color);
    border : 0;
    padding : 5px 10px 8px;
    border-radius : 30px;
}

a {
    color : var(--link-color);
    cursor : pointer;
}

button {
    cursor : pointer;
}

button.large input.large {
    padding : 9px 14px 12px;
}

button:disabled {
    background-color: var(--disabled-element-background);
    color: var(--disabled-element-text-color);
    cursor : default;
}

.debug {
    color: var(--text-color);
    position: absolute;
    opacity: 0.2;
    font-size: 20px;
    pointer-events: none;
    z-index:100;
}
