:root {
    --unit-ratio : 0.5;
    --unit : min(max(1vw, calc(1vw / var(--unit-ratio))), max(1vh, calc(1vh * var(--unit-ratio))));

    --0_1u : calc(var(--unit) * 0.1);
    --0_2u : calc(var(--unit) * 0.2);
    --0_3u : calc(var(--unit) * 0.3);
    --0_4u : calc(var(--unit) * 0.4);
    --0_5u : calc(var(--unit) * 0.5);
    --0_6u : calc(var(--unit) * 0.6);
    --0_7u : calc(var(--unit) * 0.7);
    --0_8u : calc(var(--unit) * 0.8);
    --0_9u : calc(var(--unit) * 0.9);
    --1u : var(--unit);
    --1_1u : calc(var(--unit) * 1.1);
    --1_2u : calc(var(--unit) * 1.2);
    --1_3u : calc(var(--unit) * 1.3);
    --1_4u : calc(var(--unit) * 1.4);
    --1_5u : calc(var(--unit) * 1.5);
    --1_6u : calc(var(--unit) * 1.6);
    --1_7u : calc(var(--unit) * 1.7);
    --1_8u : calc(var(--unit) * 1.8);
    --1_9u : calc(var(--unit) * 1.9);
    --2u : calc(var(--unit) * 2);
    --2_1u : calc(var(--unit) * 2.1);
    --2_2u : calc(var(--unit) * 2.2);
    --2_3u : calc(var(--unit) * 2.3);
    --2_4u : calc(var(--unit) * 2.4);
    --2_5u : calc(var(--unit) * 2.5);
    --2_6u : calc(var(--unit) * 2.6);
    --2_7u : calc(var(--unit) * 2.7);
    --2_8u : calc(var(--unit) * 2.8);
    --2_9u : calc(var(--unit) * 2.9);
    --3u : calc(var(--unit) * 3);
    --3_1u : calc(var(--unit) * 3.1);
    --3_2u : calc(var(--unit) * 3.2);
    --3_3u : calc(var(--unit) * 3.3);
    --3_4u : calc(var(--unit) * 3.4);
    --3_5u : calc(var(--unit) * 3.5);
    --3_6u : calc(var(--unit) * 3.6);
    --3_7u : calc(var(--unit) * 3.7);
    --3_8u : calc(var(--unit) * 3.8);
    --3_9u : calc(var(--unit) * 3.9);
    --4u : calc(var(--unit) * 4);
    --4_1u : calc(var(--unit) * 4.1);
    --4_2u : calc(var(--unit) * 4.2);
    --4_3u : calc(var(--unit) * 4.3);
    --4_4u : calc(var(--unit) * 4.4);
    --4_5u : calc(var(--unit) * 4.5);
    --4_6u : calc(var(--unit) * 4.6);
    --4_7u : calc(var(--unit) * 4.7);
    --4_8u : calc(var(--unit) * 4.8);
    --4_9u : calc(var(--unit) * 4.9);
    --5u : calc(var(--unit) * 5);
    --5_5u : calc(var(--unit) * 5.5);
    --6u : calc(var(--unit) * 6);
    --6_5u : calc(var(--unit) * 6.5);
    --7u : calc(var(--unit) * 7);
    --7_5u : calc(var(--unit) * 7.5);
    --8u : calc(var(--unit) * 8);
    --8_5u : calc(var(--unit) * 8.5);
    --9u : calc(var(--unit) * 9);
    --9_5u : calc(var(--unit) * 9.5);
    --10u : calc(var(--unit) * 10);
    --10_5u : calc(var(--unit) * 10.5);
    --11u : calc(var(--unit) * 11);
    --11_5u : calc(var(--unit) * 11.5);
    --12u : calc(var(--unit) * 12);
    --12_5u : calc(var(--unit) * 12.5);
    --13u : calc(var(--unit) * 13);
    --13_5u : calc(var(--unit) * 13.5);
    --14u : calc(var(--unit) * 14);
    --14_5u : calc(var(--unit) * 14.5);
    --15u : calc(var(--unit) * 15);
    --15_5u : calc(var(--unit) * 15.5);
    --16u : calc(var(--unit) * 16);
    --16_5u : calc(var(--unit) * 16.5);
    --17u : calc(var(--unit) * 17);
    --17_5u : calc(var(--unit) * 17.5);
    --18u : calc(var(--unit) * 18);
    --18_5u : calc(var(--unit) * 18.5);
    --19u : calc(var(--unit) * 19);
    --19_5u : calc(var(--unit) * 19.5);
    --20u : calc(var(--unit) * 20);
    --20_5u : calc(var(--unit) * 20.5);
    --21u : calc(var(--unit) * 21);
    --21_5u : calc(var(--unit) * 21.5);
    --22u : calc(var(--unit) * 22);
    --22_5u : calc(var(--unit) * 22.5);
    --23u : calc(var(--unit) * 23);
    --23_5u : calc(var(--unit) * 23.5);
    --24u : calc(var(--unit) * 24);
    --24_5u : calc(var(--unit) * 24.5);
    --25u : calc(var(--unit) * 25);
    --25_5u : calc(var(--unit) * 25.5);
    --26u : calc(var(--unit) * 26);
    --26_5u : calc(var(--unit) * 26.5);
    --27u : calc(var(--unit) * 27);
    --27_5u : calc(var(--unit) * 27.5);
    --28u : calc(var(--unit) * 28);
    --28_5u : calc(var(--unit) * 28.5);
    --29u : calc(var(--unit) * 29);
    --29_5u : calc(var(--unit) * 29.5);
    --30u : calc(var(--unit) * 30);
    --30_5u : calc(var(--unit) * 30.5);
    --31u : calc(var(--unit) * 31);
    --31_5u : calc(var(--unit) * 31.5);
    --32u : calc(var(--unit) * 32);
    --32_5u : calc(var(--unit) * 32.5);
    --33u : calc(var(--unit) * 33);
    --33_5u : calc(var(--unit) * 33.5);
    --34u : calc(var(--unit) * 34);
    --34_5u : calc(var(--unit) * 34.5);
    --35u : calc(var(--unit) * 35);
    --35_5u : calc(var(--unit) * 35.5);
    --36u : calc(var(--unit) * 36);
    --36_5u : calc(var(--unit) * 36.5);
    --37u : calc(var(--unit) * 37);
    --37_5u : calc(var(--unit) * 37.5);
    --38u : calc(var(--unit) * 38);
    --38_5u : calc(var(--unit) * 38.5);
    --39u : calc(var(--unit) * 39);
    --39_5u : calc(var(--unit) * 39.5);
    --40u : calc(var(--unit) * 40);
    --40_5u : calc(var(--unit) * 40.5);
    --41u : calc(var(--unit) * 41);
    --41_5u : calc(var(--unit) * 41.5);
    --42u : calc(var(--unit) * 42);
    --42_5u : calc(var(--unit) * 42.5);
    --43u : calc(var(--unit) * 43);
    --43_5u : calc(var(--unit) * 43.5);
    --44u : calc(var(--unit) * 44);
    --44_5u : calc(var(--unit) * 44.5);
    --45u : calc(var(--unit) * 45);
    --45_5u : calc(var(--unit) * 45.5);
    --46u : calc(var(--unit) * 46);
    --46_5u : calc(var(--unit) * 46.5);
    --47u : calc(var(--unit) * 47);
    --47_5u : calc(var(--unit) * 47.5);
    --48u : calc(var(--unit) * 48);
    --48_5u : calc(var(--unit) * 48.5);
    --49u : calc(var(--unit) * 49);
    --49_5u : calc(var(--unit) * 49.5);
    --50u : calc(var(--unit) * 50);
    --50_5u : calc(var(--unit) * 50.5);
    --51u : calc(var(--unit) * 51);
    --51_5u : calc(var(--unit) * 51.5);
    --52u : calc(var(--unit) * 52);
    --52_5u : calc(var(--unit) * 52.5);
    --53u : calc(var(--unit) * 53);
    --53_5u : calc(var(--unit) * 53.5);
    --54u : calc(var(--unit) * 54);
    --54_5u : calc(var(--unit) * 54.5);
    --55u : calc(var(--unit) * 55);
    --55_5u : calc(var(--unit) * 55.5);
    --56u : calc(var(--unit) * 56);
    --56_5u : calc(var(--unit) * 56.5);
    --57u : calc(var(--unit) * 57);
    --57_5u : calc(var(--unit) * 57.5);
    --58u : calc(var(--unit) * 58);
    --58_5u : calc(var(--unit) * 58.5);
    --59u : calc(var(--unit) * 59);
    --59_5u : calc(var(--unit) * 59.5);
    --60u : calc(var(--unit) * 60);
    --60_5u : calc(var(--unit) * 60.5);
    --61u : calc(var(--unit) * 61);
    --61_5u : calc(var(--unit) * 61.5);
    --62u : calc(var(--unit) * 62);
    --62_5u : calc(var(--unit) * 62.5);
    --63u : calc(var(--unit) * 63);
    --63_5u : calc(var(--unit) * 63.5);
    --64u : calc(var(--unit) * 64);
    --64_5u : calc(var(--unit) * 64.5);
    --65u : calc(var(--unit) * 65);
    --65_5u : calc(var(--unit) * 65.5);
    --66u : calc(var(--unit) * 66);
    --66_5u : calc(var(--unit) * 66.5);
    --67u : calc(var(--unit) * 67);
    --67_5u : calc(var(--unit) * 67.5);
    --68u : calc(var(--unit) * 68);
    --68_5u : calc(var(--unit) * 68.5);
    --69u : calc(var(--unit) * 69);
    --69_5u : calc(var(--unit) * 69.5);
    --70u : calc(var(--unit) * 70);
    --70_5u : calc(var(--unit) * 70.5);
    --71u : calc(var(--unit) * 71);
    --71_5u : calc(var(--unit) * 71.5);
    --72u : calc(var(--unit) * 72);
    --72_5u : calc(var(--unit) * 72.5);
    --73u : calc(var(--unit) * 73);
    --73_5u : calc(var(--unit) * 73.5);
    --74u : calc(var(--unit) * 74);
    --74_5u : calc(var(--unit) * 74.5);
    --75u : calc(var(--unit) * 75);
    --75_5u : calc(var(--unit) * 75.5);
    --76u : calc(var(--unit) * 76);
    --76_5u : calc(var(--unit) * 76.5);
    --77u : calc(var(--unit) * 77);
    --77_5u : calc(var(--unit) * 77.5);
    --78u : calc(var(--unit) * 78);
    --78_5u : calc(var(--unit) * 78.5);
    --79u : calc(var(--unit) * 79);
    --79_5u : calc(var(--unit) * 79.5);
    --80u : calc(var(--unit) * 80);
    --80_5u : calc(var(--unit) * 80.5);
    --81u : calc(var(--unit) * 81);
    --81_5u : calc(var(--unit) * 81.5);
    --82u : calc(var(--unit) * 82);
    --82_5u : calc(var(--unit) * 82.5);
    --83u : calc(var(--unit) * 83);
    --83_5u : calc(var(--unit) * 83.5);
    --84u : calc(var(--unit) * 84);
    --84_5u : calc(var(--unit) * 84.5);
    --85u : calc(var(--unit) * 85);
    --85_5u : calc(var(--unit) * 85.5);
    --86u : calc(var(--unit) * 86);
    --86_5u : calc(var(--unit) * 86.5);
    --87u : calc(var(--unit) * 87);
    --87_5u : calc(var(--unit) * 87.5);
    --88u : calc(var(--unit) * 88);
    --88_5u : calc(var(--unit) * 88.5);
    --89u : calc(var(--unit) * 89);
    --89_5u : calc(var(--unit) * 89.5);
    --90u : calc(var(--unit) * 90);
    --90_5u : calc(var(--unit) * 90.5);
    --91u : calc(var(--unit) * 91);
    --91_5u : calc(var(--unit) * 91.5);
    --92u : calc(var(--unit) * 92);
    --92_5u : calc(var(--unit) * 92.5);
    --93u : calc(var(--unit) * 93);
    --93_5u : calc(var(--unit) * 93.5);
    --94u : calc(var(--unit) * 94);
    --94_5u : calc(var(--unit) * 94.5);
    --95u : calc(var(--unit) * 95);
    --95_5u : calc(var(--unit) * 95.5);
    --96u : calc(var(--unit) * 96);
    --96_5u : calc(var(--unit) * 96.5);
    --97u : calc(var(--unit) * 97);
    --97_5u : calc(var(--unit) * 97.5);
    --98u : calc(var(--unit) * 98);
    --98_5u : calc(var(--unit) * 98.5);
    --99u : calc(var(--unit) * 99);
    --99_5u : calc(var(--unit) * 99.5);
    --100u : calc(var(--unit) * 100);
}
